.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    border-color: black;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

#header-nav {
	background-color: #A9A9A9;
}

button {
 	color: black;
 }

section div div {
	background-color: #A9A9A9;
	margin: 5px;
	padding: 5px;
}

section div h2 {
	margin: 0px;
}

li a {
    font-size; 3em;
}

section.col-xs-12 {
    background-color: #C0C0C0;
    height: 1000px;
}