#header-nav {
    background-color: #A9A9A9;
    border-radius: 0;
    border: 0;

}

.navbar-brand h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
}


#collapsable-nav a {
    background-color: #ffffff;
}

.navbar-header > a.navbar-brand {
    color: #000000;
}

#nav-list > li > a {
    font-size: 1.25em;
    color: #000000;
    border-bottom: solid;
    border-width: 2px;
}

div div {
    background-color: #A9A9A9;
}    

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

p {
    padding: 10px;
    font-weight: bold;
}